<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="muffin">
			<header>
				<div id="form">
					<input
						id="search"
						v-model="inputString"
						type="text"
						@keydown.tab="changeSearchType($event)"
						@keydown.down="moveDownSelector"
						@keydown.up="moveUpSelector"
						@keydown.enter="select"
						@keydown.ctrl.80="moveUpSelector"
						@keydown.ctrl.78="moveDownSelector"
						placeholder="Fuzzy Blue Search."
						v-focus
					>
				</div>
				<div id="menu-wrap">
					<div id="menu-clickable-wrap">
						<template v-for="(typeInt, typeName) in searchTypes">
							<span v-bind:id="typeName | toLowerCase" v-bind:class="{ active: typeInt == currentSearchType }">
								{{ typeName | toUpperFirst }}
							</span>
						</template>
						<div id="select-bar" v-bind:style="{ left: ((currentSearchType - 1) * 100) + 'px'  }"></div>
					</div>
				</div>
			</header>
			<div id="main">
				<ul v-if="results && results.length >= 1" @mouseover="resetCurrentSelector">
					<template v-if="currentSearchType == searchTypes.HISTORY">
						<template v-for="(result, index) in results">
							<li v-bind:class="{currentSelected: index == currentSelected}">
								<a v-bind:href="result.url" target="_blank">
									<div class="title">
										<template v-if="result.title">
											{{ result.title }}
										</template>
										<template v-else>
											No title.
										</template>
									</div>
									<div class="url">{{ result.url }}</div>
								</a>
							</li>
						</template>
					</template>
					<template v-else-if="currentSearchType == searchTypes.BOOKMARKS">
						<template v-for="(result, index) in results">
							<li v-bind:class="{currentSelected: index == currentSelected}">
								<a v-bind:href="result.url" target="_blank">
									<div class="title">
										<template v-if="result.title">
											{{ result.title }}
										</template>
										<template v-else>
											No title.
										</template>
									</div>
									<div class="path">{{ result.parentPath }}</div>
									<div class="url">{{ result.url }}</div>
								</a>
							</li>
						</template>
					</template>
					<template v-else-if="currentSearchType == searchTypes.TABS">
						<template v-for="(result, index) in results">
							<li v-bind:class="{currentSelected: index == currentSelected}">
								<a v-bind:href="result.url" target="_blank">
									<div class="title">{{ result.index + ': ' + result.title }}</div>
									<div class="url">{{ result.url }}</div>
								</a>
							</li>
						</template>
					</template>
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="./dist/bundle.js"></script>
	</body>
</html>
