<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="muffin">
			<header>
				<div id="dots">
					<span id="history"></span>
					<span id="tabs"></span>
					<span id="bookmarks"></span>
				</div>
				<div id="selected">
					<!-- {{ selectedTabName }} -->
					History
				</div>
			</header>
			<div id="main">
				<input id="search" v-model="inputValue" type="text">
				<ul>
					<li v-for="result in results">
						<div v-if="currentSearchType == searchTypes.history">
							<a v-bind:href="result.url" target="_blank">
								<div class="title">{{ result.title }}</div>
								<div class="url">{{ result.url }}</div>
							</a>
						</div>
						<div v-else-if="currentSearchType == searchTypes.bookmarks">
							<a v-bind:href="result.url" target="_blank">
								<div class="url">{{ result.parentPath }}</div>
								<div class="title">{{ result.title }}</div>
								<div class="url">{{ result.url }}</div>
							</a>
						</div>
						<div v-else-if="currentSearchType == searchTypes.tabs">
							<a v-bind:href="result.url" target="_blank">
								<div class="title">{{ result.index + ': ' + result.title }}</div>
								<div class="url">{{ result.url }}</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="./dist/bundle.js"></script>
	</body>
</html>
