@charset "UTF-8";

body {
	color: #262626;
	margin: 0px;
	width: 360px;
}

header {
	color: #FFF;
	width: 100%;

	#form {
		height: 40px;

		#search {
			width: 350px;
			border-radius: 15px;
			height: 30px;
			border: 1px solid #ddd;
			margin-bottom: 10px;
			padding: 10px 10px;
			margin: 5px;
			font-size: 15px;
			outline: 0;

			&:focus {
				border: 1px solid #008eff;
			}
		}
	}

	#menu-wrap {
		$menuHeight: 35px;
		width: 100%;
		height: $menuHeight;
		margin-bottom: 5px;
		background: #F7F7F7;

		#menu-clickable-wrap {
			margin:  0 30px;
			display: flex;
			position: relative;
			height: $menuHeight;

			#history,
			#tabs,
			#bookmarks {
				width: 100px;
				height: $menuHeight - 5px;
				line-height: $menuHeight - 5px;
				text-align: center;
				font-size: 15px;
				color: #B3B4BB;
				-moz-transition:0.3s ease-out;
				-webkit-transition:0.3s ease-out;
				-o-transition:0.3s ease-out;
				-ms-transition:0.3s ease-out;

				&.active {
					color: #008eff;
				}
			}

			#select-bar {
				position: absolute;
				height: 3px;
				width: 100px;
				border-radius: 3px;
				background: #008eff;

				bottom: 0px;
				-moz-transition:0.3s ease-out;
				-webkit-transition:0.3s ease-out;
				-o-transition:0.3s ease-out;
				-ms-transition:0.3s ease-out;
			}
		}
	}

}

#main {
	ul {
		margin: 10px 5px;
		padding: 0;
		max-height: 420px;
		overflow: scroll;
		overflow-x: hidden;
		border-radius: 5px;
		border: 1px solid #ddd;

		li {
			list-style: none;
			padding: 4px 0;
			border-top: 1px solid #EEE;
			background: #FFF;

			&:first-child {
				border-top: none;
			}

			&:hover a > ,
			&.currentSelected a {
				.url,
				.path,
				.title {
					color: #008eff;
				}
			}

			&:nth-child(odd) {
				background: #F5F5F5;
			}

			a {
				text-decoration: none;

				.title {
					color: #455a64;
					font-weight: bold;
					font-size: 12px;
					padding: 0 10px;
					margin-bottom: 3px;
				}

				.url,
				.path {
					color: #888;
					font-size: 10px;
					padding: 0 10px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

/*スクロールバー全体*/
::-webkit-scrollbar {
    width: 7px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 7px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .2);
  border-radius: 5px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .2);
}

