@charset "UTF-8";

body, html {
	color: #262626;
	margin: 0;
	padding: 0;
	width: 360px;
	background: #F7F7F7;
	font-family: 'Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

#muffin {
	outline: none;
	margin-bottom: 24px;
}

header {
	color: #FFF;
	width: 100%;

	#menu-wrap {
		$menuHeight: 35px;

		top: 0px;
		width: 100%;
		height: $menuHeight;
		margin-bottom: 5px;
		border-bottom: 4px solid #d6dde0;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2192f3+0,29a4de+100 */
		// background: #2192f3; /* Old browsers */
		background: #29a4de; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #2192f3 0%, #29a4de 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #2192f3 0%,#29a4de 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #2192f3 0%,#29a4de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

		#menu-clickable-wrap {
			margin:  0 10px;
			display: flex;
			position: relative;
			height: $menuHeight;

			#history,
			#tabs,
			#bookmarks {
				width: 105px;
				height: $menuHeight;
				margin: 0 5px;
				line-height: $menuHeight;
				text-align: center;
				font-size: 15px;
				font-weight: 100;
				letter-spacing: 1.5px;
				color: #cde9ff;
				cursor: pointer;
				-moz-transition: 0.3s ease-in-out;
				-webkit-transition: 0.3s ease-in-out;
				-o-transition: 0.3s ease-in-out;
				-ms-transition: 0.3s ease-in-out;

				&.active {
					color: #FFF;
					background: #1E88E5;
				}

				&:hover {
					color: #FFF;
				}
			}

			#selected-marker {
				position: absolute;
				height: 10px;
				width: 10px;
				bottom: -10px;
				margin: 0 50px;
				-moz-transition:    0.3s cubic-bezier(0.18, 0.89, 0.27, 1.13);
				-webkit-transition: 0.3s cubic-bezier(0.18, 0.89, 0.27, 1.13);
				-o-transition:      0.3s cubic-bezier(0.18, 0.89, 0.27, 1.13);
				-ms-transition:     0.3s cubic-bezier(0.18, 0.89, 0.27, 1.13);
				background: #f7f7f7;
				border-radius: 50%;
				border: 3px solid #b0bec5;
			}
		}
	}

	#form {
		height: 40px;

		#search {
			width: 350px;
			border-radius: 15px;
			height: 30px;
			border: 1px solid #D9E2E6;
			margin-bottom: 10px;
			padding: 10px 10px;
			margin: 5px;
			font-size: 15px;
			outline: 0;

			&:focus {
				border: 1px solid #2993de;
			}
		}
	}


}

#main {
	ul {
		margin: 5px;
		padding: 0;
		max-height: 420px;
		overflow: scroll;
		overflow-x: hidden;
		border-bottom: 1px solid #D9E2E6;
		border-top: 1px solid #D9E2E6;

		li {
			list-style: none;
			border-top: 1px dashed #e0e0e0;
			background: #FFF;
			position: relative;

			&:first-child {
				border-top: none;
			}

			.current-select-marker {
				width: 5px;
				height: 100%;
				background: #d6dde0;
				position: absolute;
				left: 8px;
			}

			&:hover ,
			&.current-selected {
				background: #F7F7F7 !important;

				a {

					.item-text {
						.url,
						.path,
						.title {
							color: #008eff;

							b {
								text-decoration: underline;
							}
						}
					}
				}

				.current-select-marker {
					.marker {
						border-radius: 50%;
						width: 9px;
						height: 9px;
						border: 3px solid #b0bec5;
						background: #f7f7f7;
						position: absolute;
						right: -5px;
						top: 50%;
						-webkit-transform: translateY(-50%) translateX(0%);
						transform: translateY(-50%) translateX(0%);
					}
				}
			}

			a {
				text-decoration: none;
				width: 100%;
				display: flex;

				.favicon {
					position: relative;
					width: 26px;
					margin-left: 23px;

					img {
						height: 14px;
						width: 14px;
						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translateY(-50%) translateX(-50%);
						transform: translateY(-50%) translateX(-50%);
						padding: 5px;
						background: #FFF;
						box-shadow: 0px 1px 3px #CFD8DC;
					}
				}

				.item-text {
					width: 280px;
					margin-left: 8px;
					padding: 6px 0;

					.title {
						color: #455a64;
						font-weight: bold;
						font-size: 12px;
						line-height: 1.5em;
						margin-bottom: 3px;
						max-height: 3.0em;
						overflow: hidden;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
					}

					.url,
					.path {
						color: #888;
						font-size: 10px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					.title,
					.url,
					.path {
						b {
							color: #008eff;
						}
					}
				}
			}
		}
	}

	#logo {
		text-align: center;

		img {
			height: 42px;
			padding: 10px 10px;
		}
	}

	#info-bar {
		position: absolute;
		bottom: 5px;
		color: #90A4AE;
		padding: 0 5px;
		float: left;
		width: 100%;
		box-sizing: border-box;

		#shortcuts {
			cursor: pointer;
			display: inline-block;
			float: left;
			display: inline-flex;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}

			.icon {
				height: 15px;
				width: 15px;
				padding: 0 5px 0 0;
				opacity: 0.7;
			}

			.text {
				font-weight: 100;
				letter-spacing: 1.4;
			}
		}

		#result-count {
			display: inline-block;
			float: right;
		}
	}

	#shortcut-list {
		padding: 5px 0;
		color: #607d8b;

		h2 {
			display: inline-block;
			color: #607D8B;
			font-size: 14px;
			font-weight: 100;
			letter-spacing: 1.4px;
			margin: 0px 20px;
			background: #f7f7f7;
			padding: 0 8px;
			text-align: left;
		}

		.shortcut-group {
			border: 1px solid #cfd8dc;
			border-radius: 10px;
			width: 315px;
			margin: -7px auto 8px;
			padding: 12px 10px 8px;
			box-shadow: 0 0 5px #ddd;

			table {
				width: 250px;
				margin: auto;

				td {
					text-align: center;
					color: #607D8B;
					font-weight: 100;
					font-size: 14px;
				}
			}
		}

		.shortcut-key-ctrl,
		.shortcut-key-shift,
		.shortcut-key-tab,
		.shortcut-key-enter,
		.shortcut-key-other {
			height: 16px;
			width: 30px;
			padding: 4px 8px;
			display: inline-block;
			line-height: 16px;
			font-size: 12px;
			text-align: center;
			color: #FFF;
		}

		.shortcut-key-ctrl {
			background: #2196f3;
		}

		.shortcut-key-shift {
			background: #9c27b0;
		}

		.shortcut-key-tab {
			background: #62c34a;
		}

		.shortcut-key-enter {
			background: #e91e63;
		}

		.shortcut-key-other {
			background: #607D8B;
		}

		.shortcut-key-description,
		.shortcut-key-description-or {
			width: 180px;
			text-align: left !important;
			padding-left: 15px;
			letter-spacing: 1.4;
		}

		.shortcut-key-description {
			font-weight: 200!important;
		}

		.shortcut-key-description-or {
			font-weight: 100!important;
			color: #B0BEC5 !important;
		}
	}
}

/*スクロールバー全体*/
::-webkit-scrollbar {
    width: 7px;
	background: #f5f5f5;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 7px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .2);
  border-radius: 5px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .2);
}

[v-cloak] {
  display: none;
}
